<!DOCTYPE html>
<html>
<head>

  <title>Seungyeon Chang</title>

</head>
<body>
  <h1>Hello from EJS!</h1>
  <p>Hello, This is <strong>Seungyeon.</strong></p>
  <p>I am a <%= myTypeClient %>.</p>
  <a href = "https://github.com/SeungyeonChang/mike" target="_blank">Mike Repo</a><br>
  <a href ="https://mike-pogr.onrender.com/" target="_blank">Mike Render</a><br>
  <a href = "./docs/index.html"> HTML</a>
  <!-- <p>The good thing about me, I will do whatever you guys ask me to do and do not need a in-person meeting. I think using email or other app is engough to communicate.</p>
  <p>I will try my best to do everything done on time.</p> -->
  <!-- <p><img src ="/resjult.JPG"></p> -->
</body>

<footer>
    <a href="https://github.com/SeungyeonChang/november" target="_blank">Source Code</a>
</footer>
</html>